# Ignora arquivos de Python
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.vscode/

# Ignora arquivos de audio grandes e temporarios
*.wav
*.mp3
*.mp4

# Ignora arquivos de imagem gerados
*.png
*.jpg

# Ignora arquivos de deploy/config
.env